<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <title>Document</title>
    <style>
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    </style>
</head>
<body>
<div id="app" class="container">
    <p>最小值：<input v-model="zuixiao"></p>
    <p>最大值：<input v-model="zuida"></p>
    <p>生成数：<input v-model="zongshu"></p>
    <button @click="chufa">生成按键</button>
    <p>{{ sui }}</p>
</div>
<script>
    tt= new Vue({
        el: '#app',
        data:{
            zuixiao:'',
            zuida:'',
            zongshu:'',
            sui:''
        },
        methods:{
            chufa:function(){
                var [min,max,js]=[this.zuixiao,this.zuida,this.zongshu]
                var num =new Set()
                if(max-min+1<js){
                    alert('生成数过多')
                    js=-1
                }
                while(Array.from(num).length<js){
                num.add(Number(Math.floor(Math.random()*(max-min+1)+min))+Number(min))
                }
                this.sui = (Array.from(num)).join(",")
            }
        }   
    })
</script>
</body>
</html>